@media screen and (min-width: 320px) {
  html {
    font-size: 84.375px;
  }
}
@media screen and (min-width: 330px) {
  html {
    font-size: 87.5px;
  }
}
@media screen and (min-width: 340px) {
  html {
    font-size: 90.625px;
  }
}
@media screen and (min-width: 350px) {
  html {
    font-size: 93.75px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 96.875px;
  }
}
@media screen and (min-width: 370px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 380px) {
  html {
    font-size: 103.125px;
  }
}
@media screen and (min-width: 390px) {
  html {
    font-size: 106.25px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 109.375px;
  }
}
@media screen and (min-width: 410px) {
  html {
    font-size: 112.5px;
  }
}
@media screen and (min-width: 420px) {
  html {
    font-size: 115.625px;
  }
}
@media screen and (min-width: 430px) {
  html {
    font-size: 117.75px;
  }
}
@media screen and (min-width: 440px) {
  html {
    font-size: 120.875px;
  }
}
@media screen and (min-width: 450px) {
  html {
    font-size: 124px;
  }
}
@media screen and (min-width: 460px) {
  html {
    font-size: 127.125px;
  }
}
@media screen and (min-width: 470px) {
  html {
    font-size: 130.25px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 133.375px;
  }
}
@media screen and (min-width: 490px) {
  html {
    font-size: 136.5px;
  }
}
@media screen and (min-width: 500px) {
  html {
    font-size: 139.625px;
  }
}
@media screen and (min-width: 639px) {
  html {
    font-size: 142.75px;
  }
}
@media screen and (min-width: 719px) {
  html {
    font-size: 135.875px;
  }
}
@media screen and (max-width: 319px) {
  html {
    font-size: 96.875px;
  }
}
@media screen and (max-width: 309px) {
  html {
    font-size: 93.75px;
  }
}
@media screen and (max-width: 299px) {
  html {
    font-size: 90.625px;
  }
}
@media screen and (max-width: 289px) {
  html {
    font-size: 87.5px;
  }
}
@media screen and (max-width: 279px) {
  html {
    font-size: 84.375px;
  }
}
@media screen and (max-width: 269px) {
  html {
    font-size: 81.25px;
  }
}
@media screen and (max-width: 259px) {
  html {
    font-size: 78.125px;
  }
}
@media screen and (max-width: 249px) {
  html {
    font-size: 75px;
  }
}
@media screen and (max-width: 239px) {
  html {
    font-size: 71.875px;
  }
}
@media screen and (max-width: 229px) {
  html {
    font-size: 68.75px;
  }
}
@media screen and (max-width: 219px) {
  html {
    font-size: 65.625px;
  }
}
@media screen and (max-width: 209px) {
  html {
    font-size: 62.5px;
  }
}
@media screen and (max-width: 199px) {
  html {
    font-size: 59.375px;
  }
}
@media screen and (max-width: 189px) {
  html {
    font-size: 56.25px;
  }
}
@media screen and (max-width: 179px) {
  html {
    font-size: 53.125px;
  }
}
@media screen and (max-width: 169px) {
  html {
    font-size: 51px;
  }
}
